<!-- <mat-toolbar color="primary">
  Fast, infinite scroll list
</mat-toolbar> -->

<div class="row">
  <div class="col-6">
    <div class="input-group flex-nowrap">
      <mat-form-field appearance="outline" class="input-box flex-grow-1">
        <mat-label>
          Planned Start Date
        </mat-label>
        <input matInput [matDatepicker]="plannedStartPicker">
        <mat-datepicker #plannedStartPicker></mat-datepicker>
      </mat-form-field>
      <div class="input-group-append">
        <span class="input-group-text">
          <mat-icon (click)="plannedStartPicker.open()" class="pointer">calendar_today</mat-icon>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
        aria-describedby="basic-addon2">
      <span class="input-group-text" id="basic-addon2">example.com</span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
        aria-describedby="basic-addon2">
      <span class="input-group-text" id="basic-addon2">example.com</span>
    </div>
  </div>
</div>

<form class="example-form">
  <mat-form-field class="w-100">
    <mat-label>Telephone</mat-label>
    <span matTextPrefix>+1 &nbsp;</span>
    <input type="tel" matInput placeholder="555-555-1234">
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>
</form>

<div class="container-fluid">
  <mat-card class="mat-elevation-z8" color="primary">
    <mat-card-content>
      <cdk-virtual-scroll-viewport #scroller itemSize="68" class="content">
        <mat-list>
          <ng-container *cdkVirtualFor="let item of newList">
            <mat-list-item>{{item}}</mat-list-item>

          </ng-container>
        </mat-list>
      </cdk-virtual-scroll-viewport>
    </mat-card-content>
  </mat-card>

</div>

<!-- <cdk-virtual-scroll-viewport #scroller itemSize="108" class="content">
  <mat-list>
    <ng-container *cdkVirtualFor="let item of listItems">
      <mat-list-item>
        <h3 matLine> {{item.title}} </h3>
        <p matLine>
          <span> {{item.content}} </span>
        </p>
        <button mat-icon-button [matMenuTriggerFor]="itemMenu">
          <mat-icon>
            more_vert
          </mat-icon>
        </button>
        <mat-divider></mat-divider>
      </mat-list-item>
    </ng-container>
    <div class="spinner-item" *ngIf="loading">
      <mat-progress-spinner [mode]="'indeterminate'" [diameter]="50"></mat-progress-spinner>
    </div>
  </mat-list>
</cdk-virtual-scroll-viewport> -->

<!-- <mat-list class="content" #scroller>
  <ng-container *ngFor="let item of listItems">
    <mat-list-item>
      <img matListAvatar [src]="item.image">
      <h3 matLine> {{item.title}} </h3>
      <p matLine>
        <span> {{item.content}} </span>
      </p>
      <button mat-icon-button [matMenuTriggerFor]="itemMenu">
        <mat-icon>
          more_vert
        </mat-icon>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
  </ng-container>
</mat-list> -->

<!-- <mat-menu #itemMenu="matMenu">
  <button mat-menu-item>
    Option 1
  </button>
  <button mat-menu-item>
    Option 2
  </button>
  <button mat-menu-item>
    Option 3
  </button>
</mat-menu> -->