<div class="container-fluid">
  <app-api-editable-table></app-api-editable-table>
  <!-- <app-inline-editable-table></app-inline-editable-table> -->

  <!-- <app-chip-trial></app-chip-trial> -->
  <!-- <app-editable-table></app-editable-table> -->

  <!--  <div class="row justify-content-center align-items-center border">
    <div class="col-2">
      <mat-form-field class="example-full-width">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-1">
      <button mat-raised-button (click)="picker.open()">Open</button>
    </div>
  </div>-->
  <!-- <div class="row">
    <div class="col-6">
      <mat-label class="pe-2">All Projects</mat-label>
      <mat-slide-toggle></mat-slide-toggle>
      <mat-label class="ps-2">Current Project</mat-label>
    </div>
  </div> -->


  <!-- <div class="input-group mb-3">
    <mat-form-field class="example-full-width me-0">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="dtpicker" (dateChange)="valueChanged($event)" [(ngModel)]="date"
        (ngModelChange)="updateCalcs()">
      <mat-datepicker #dtpicker></mat-datepicker>
    </mat-form-field>
    <div class="input-group-append">
      <span class="input-group-text p-3" id="basic-addon2" (click)="dtpicker.open()">
        <mat-icon>calendar_today</mat-icon>
      </span>
    </div>
  </div> -->
  <!-- <p *ngFor="let item of mixList" [ngClass]="(item |numberChecker).isRightAligned?'text-end':''">
    {{(item |numberChecker).value}}
  </p> -->
  <!-- <app-generate-tree></app-generate-tree> -->
  <!-- <app-chip-trial></app-chip-trial> -->
</div>

<!-- <app-accordion-trials></app-accordion-trials>
  <div class="col">

    <app-tab-trials></app-tab-trials>

  </div> -->

<!-- <app-infinite-scroll></app-infinite-scroll> -->
<!-- <app-detail-view [interfaceDictionary]="empDict" [user]="empDetails"></app-detail-view> -->
<!-- <app-list></app-list> -->
<!-- <mat-card>
  <mat-card-header>
    <mat-form-field>
      <input matInput (keyup)="filterChange($event)" placeholder="Enter search text" />
    </mat-form-field>
  </mat-card-header>

  <mat-card-content>
    <table matSort mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="code" class="col-1">
        <th mat-sort-header mat-header-cell *matHeaderCellDef="">Code</th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
      </ng-container>

      <ng-container matColumnDef="name" class="col-2">
        <th mat-sort-header mat-header-cell *matHeaderCellDef="">Name</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>
      <ng-container matColumnDef="email" class="col-2">
        <th mat-sort-header mat-header-cell *matHeaderCellDef="">Email</th>
        <td mat-cell *matCellDef="let element">{{element.email}}</td>
      </ng-container>

      <ng-container matColumnDef="phone" class="col-2">
        <th mat-sort-header mat-header-cell *matHeaderCellDef="">Phone</th>
        <td mat-cell *matCellDef="let element">{{element.phone}}</td>
      </ng-container>

      <ng-container matColumnDef="status" class="col-2">
        <th mat-sort-header mat-header-cell *matHeaderCellDef="">Status</th>
        <td mat-cell *matCellDef="let element">{{element.status}}</td>
      </ng-container>

      <ng-container matColumnDef="action" class="col-3">
        <th mat-header-cell *matHeaderCellDef="">Action</th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" class="me-2">Edit</button>
          <button mat-raised-button color="secondary">Delete</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
    </table>
  </mat-card-content>

  <mat-card-footer>
    <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons>
    </mat-paginator>
  </mat-card-footer>
</mat-card> -->






<!-- <div id="wrapper">
  <app-header></app-header>
  <main>
    <router-outlet></router-outlet>

  </main>
  <app-footer></app-footer>
</div> -->

<!-- <div class="row">
  <div class="col">
    <button type="button" class="btn btn-primary">Basic</button>
  </div>
  <div class="col">
    <button mat-raised-button color="primary" class="btn btn-primary px-5">NG button</button>
  </div>
</div> -->